@import "bootstrap-custom";
@import "responsive";
@import "uikit";
@import "../fonts/fontawesome/scss/fontawesome";
@import "../fonts/fontawesome/scss/fa-brands";
@import "../fonts/fontawesome/scss/fa-regular";
@import "../fonts/fontawesome/scss/fa-solid";


.custom-file-input {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

