<footer class="section-footer bg-secondary">
    <div class="container">
        <section class="footer-top padding-top">
            <div class="row">
                <aside class="col-sm-3 col-md-3 white">
                    <h5 class="title">Service Client</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#">Conditions générales d'utilisation</a></li>
                        <li> <a href="#">Règles de diffusion</a></li>
                        <li> <a href="#">Conditions Générales</a></li>
                        <li> <a href="#">Vie privée et cookies</a></li>
                    </ul>
                </aside>
                <aside class="col-sm-3  col-md-3 white">
                    <h5 class="title">Mon compte</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#"> Se connecter </a></li>
                        <li> <a href="#"> S'inscrire </a></li>
                        <li> <a href="#"> Mes favoris </a></li>
                        <li> <a href="#"> Mes annonces </a></li>
                    </ul>
                </aside>
                <aside class="col-sm-3  col-md-3 white">
                    <h5 class="title">A propos du Bon Chat</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#"> Qui sommes-nous ? </a></li>
                        <li> <a href="#">L'equipe</a></li>
                        <li> <a href="#">Nous contacter</a></li>
                        <li> <a href="#">FAQ</a></li>

                    </ul>
                </aside>
                <aside class="col-sm-3">
                    <article class="white">
                        <h5 class="title">Contacts</h5>
                        <p>
                            <strong>Téléphone: </strong> +123456789 <br>
                            <strong>Email:</strong> lebonchat@lebonchat.com
                        </p>

                        <div class="btn-group white">
                            <a class="btn btn-facebook" title="Facebook" target="_blank" href="#"><i class="fab fa-facebook-f  fa-fw"></i></a>
                            <a class="btn btn-instagram" title="Instagram" target="_blank" href="#"><i class="fab fa-instagram  fa-fw"></i></a>
                            <a class="btn btn-twitter" title="Twitter" target="_blank" href="#"><i class="fab fa-twitter  fa-fw"></i></a>
                        </div>
                    </article>
                </aside>
            </div> <!-- row.// -->
            <br>
        </section>
        <section class="footer-bottom row border-top-white">
            <div class="col-sm-6">
                <p class="text-white-50">Projet Wild Code School <br>Thomas Hubert</p>
            </div>
            <div class="col-sm-6">
                <p class="text-md-right text-white-50">
                    Copyright &copy  <br>
                    <a href="#" class="text-white-50">Le Bon Chat</a>
                </p>
            </div>
        </section> <!-- //footer-top -->
    </div><!-- //container -->
</footer>