{% extends 'base.html.twig' %}

{% block title %}Le Bon Chat{% endblock %}

{% block body %}
    <section class="section-main bg padding-top-sm">
        <div class="container">
            Annonce à la une
            <div class="row-sm">
                <article class="card card-product">
                    <div class="card-body">
                        <div class="row">
                            <aside class="col-sm-3">
                                <div class="img-wrap"><img src="images/chat/chat1.jpeg"></div>
                            </aside> <!-- col.// -->
                            <article class="col-sm-6">
                                <h4 class="title">Nom du chat à la une</h4>
                                <div class="rating-wrap  mb-2">
                                    <div class="label-rating"><i class="icon-sm round border fa fa-heart"></i> 132 likes</div>
                                </div> <!-- rating-wrap.// -->
                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam </p>
                                <p><b>Espece : </b> espece <b>Année : </b> année<b> Ville : </b> ville <b>Département : </b> département <br>
                                    <b>Pelage : </b> espece <b> Motifs : </b> motif<b> Couleur : </b> couleur
                                </p>


                            </article> <!-- col.// -->

                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </article>
                <aside class="col-md-4">

                    Dernieres annonces

                    <div class="card mb-3">
                        <figure class="itemside">
                            <div class="aside"><div class="img-wrap border-right"><img src="images/chat/chat3.jpg"></div></div>
                            <figcaption class="text-wrap align-self-center">
                                <h6 class="title">Nom du chat</h6>
                                <a href="#">Voir l'annonce</a>
                            </figcaption>
                        </figure>
                    </div> <!-- card.// -->

                    <div class="card mb-3">
                        <figure class="itemside">
                            <div class="aside"><div class="img-wrap border-right"><img src="images/chat/chat4.jpg"></div></div>
                            <figcaption class="text-wrap align-self-center">
                                <h6 class="title">Nom du chat</h6>
                                <a href="#">Voir l'annonce</a>
                            </figcaption>
                        </figure>
                    </div> <!-- card.// -->

                    <div class="card">
                        <figure class="itemside">
                            <div class="aside"><div class="img-wrap border-right"><img src="images/chat/chat5.jpg"></div></div>
                            <figcaption class="text-wrap align-self-center">
                                <h6 class="title">Nom du chat</h6>
                                <a href="#">Voir l'annonce</a>
                            </figcaption>
                        </figure>
                    </div> <!-- card.// -->

                </aside>

                <aside  class="col-md-4">
                    Derniers articles
                    <div class="card">
                        <img class="card-img-top" src="images/chat/accueil.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Accueillir son nouveau compagnon</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text"><small class="text-muted">Date de l'article</small></p>
                        </div>
                    </div>  <!-- card.// -->


                </aside>
                <aside  class="col-md-4">
                    <div style="color:transparent;">D</div>
                    <div class="card">
                        <img class="card-img-top" src="images/chat/toilette.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bien s'occuper de son chat</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text"><small class="text-muted">Date de l'article</small></p>
                        </div>
                    </div>  <!-- card.// -->


                </aside>
            </div>
        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->



{% endblock %}

{% block javascripts %}


{% endblock %}